	<script type="text/javascript">
		$(document).ready(function() {
			$('#fullpage').fullpage({
				'verticalCentered': false,
				'css3': true,
				'sectionsColor': ['#fff', '#fff', '#fff', '#fff'],
				'navigation': true,
				'navigationPosition': 'right',
				'navigationTooltips': ['Startup', 'Web Apps', 'Design', 'Templates'],
				slidesNavigation: true,
				loopTop: true,
				loopBottom: true,

				'afterLoad': function(anchorLink, index){
					if(index == 2){
						$('#iphone3, #iphone2, #iphone4').addClass('active');
								//moving the image
						$('#section2').find('i').delay(200).animate({
							left: '0%'
						}, 1000, 'easeOutExpo');

						$('.box').find('p').fadeIn(1000, function(){
							$('.box').find('p').fadeIn(1000);
						});;

					}
				},

				'onLeave': function(index, nextIndex, direction){
					if (index == 3 && direction == 'down'){
						$('.section').eq(index -1).removeClass('moveDown').addClass('moveUp');
					}
					else if(index == 3 && direction == 'up'){
						$('.section').eq(index -1).removeClass('moveUp').addClass('moveDown');
					}

					$('#staticImg').toggleClass('active', (index == 2 && direction == 'down' ) || (index == 4 && direction == 'up'));
					$('#staticImg').toggleClass('moveDown', nextIndex == 4);
					$('#staticImg').toggleClass('moveUp', index == 4 && direction == 'up');
				}
			});
		});
	</script>

<body>


<div id="fullpage">
	<div class="section" id="section0">
		<div class="slide" id="slide1">
			<div class="intro">
				<h1>WE STARTUP YOUR STARTUP</h1>
				<h2>We launch your startup to the internet world. </h2>
				<img src="/images/imac.png" class="img-responsive" width="300px"/>
			</div>
		</div>

	    <div class="slide" id="slide2">
			<h1>WE HANDCRAFT WEB APPS</h1>
			<h2>Beautiful Designs + Powerful Web Apps.</h2>
			<img src="/images/rodrigomanuel-thumb.jpg" class="img-responsive" width="450px"/>
		</div>

		<div class="slide" id="slide3">
			<h1>TECHNOLOGY MEETS DESIGN</h1>
			<h2>We make your brand look good in every device.</h2>
			<img src="/images/ipad.png" class="img-responsive" width="400px" id="ipad"/>
		</div>

	</div>
	<div class="section" id="section1">
		<div class="container">
			<h2>Choose your template</h2>
			<div class="row" id="img-row">
				<div class="col-md-3 col-xs-3">
					<a href="/"><img src="/images/rodrigomanuel-thumb.jpg" class="img-responsive"></a>
				</div>
				<div class="col-md-3 col-xs-3">
					<a href="/"><img src="/images/santelmo-thumb.jpg" class="img-responsive"></a>
				</div>
				<div class="col-md-3 col-xs-3">
					<a href="/"><img src="/images/Nakamarra-thumb.jpg" class="img-responsive"></a>
				</div>
				<div class="col-md-3 col-xs-3">
					<a href="/"><img src="/images/xejasmin-thumb.jpg" class="img-responsive"></a>
				</div>
			</div>
			<div class="row" id="img-row">
				<div class="col-md-3 col-xs-3">
					<a href="/"><img src="/images/santelmo-thumb.jpg" class="img-responsive"></a>
				</div>
				<div class="col-md-3 col-xs-3">
					<a href="/"><img src="/images/Nakamarra-thumb.jpg" class="img-responsive"></a>
				</div>
				<div class="col-md-3 col-xs-3">
					<a href="/"><img src="/images/rodrigomanuel-thumb.jpg" class="img-responsive"></a>
				</div>
				<div class="col-md-3 col-xs-3">
					<a href="/"><img src="/images/xejasmin-thumb.jpg" class="img-responsive"></a>
				</div>
			</div>
		</div>
	</div>

	<div class="section" id="section2">
			<div class="row">
				<div class="col-md-4 col-xs-4">
					<h2>Pricing</h2>
					<div class="row">
						<div class="col-md-4">
							<h4>Basic Plan <span>$12 p/month</span></h4>
							<p>A plan for a small scale app with normal usage and normal amount of visits.</p>
							<ul>
								<li>512 mb de ram</li>
								<li>Hasta 300 mb de almacenamiento en la base de datos.</li>
								<li>Hasta 20 conexiones simultáneas.</li>
							</ul>
						</div>
						<div class="col-md-4">
							<h4>Advanced Plan <span>$25 p/month</span></h4>
							<p>A plan for a small scale app with normal usage and normal amount of visits.</p>
							<ul>
								<li>512 mb de ram</li>
								<li>Hasta 300 mb de almacenamiento en la base de datos.</li>
								<li>Hasta 20 conexiones simultáneas.</li>
							</ul>
						</div>
						<div class="col-md-4">
							<h4>Professional Plan <span>$50 p/month</span></h4>
							<p>A plan for a small scale app with normal usage and normal amount of visits.</p>
							<ul>
								<li>512 mb de ram</li>
								<li>Hasta 300 mb de almacenamiento en la base de datos.</li>
								<li>Hasta 20 conexiones simultáneas.</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	<div class="section" id="section3">
		<div class="contact">
			<div class="container">
				<h2>Contact</h2>
				 <form>
			<div class="form-group">
    			<label for="examplename">Name</label>
    			<input type="text" class="form-control" id="exampleInputEmail1" placeholder="Name">
    		</div>
 	 		<div class="form-group">
    			<label for="exampleInputEmail1">Email address</label>
    			<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
 	 		</div>
  			<div class="form-group">
  				<label for="exampletextarea">Message</label>
  				<textarea class="form-control" rows="3"></textarea>
			</div>
  			<button type="submit" class="btn btn-default">Submit</button>
			</form>
			</div>
		</div>
		<!--pre-footer-->
		<div class="pre-footer">
			<div class="container">
				<ul>
					<li><a href="https://www.facebook.com" target="_blank"><i class="fa fa-facebook fa-2x" id="fb" aria-hidden="true"></i></a>
</li>
					<li><a href="https://twitter.com" target="_blank"><i  class="fa fa-twitter fa-2x" aria-hidden="true"></i></a></li>
					<li><a href="http://instagram.com" target="_blank"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a></li>
				</ul>
			</div>
		</div>
		<!--footer-->
		<div class="footer">
			<h4><i class="fa fa-copyright" aria-hidden="true"></i>Sofinteractive</h4>
        	<p>Made with tons of <i class="fa fa-coffee" aria-hidden="true"></i>
 and <i class="fa fa-heart" aria-hidden="true"></i>
 in Guatemala.</p>
			</div>
	</div>
</div>