/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 #bs-over {
  left: 0;
  margin: 0;
  padding: 0;
  position: relative;
  overflow: scroll;
}

.main-nav {
	background-color: #fff;
	color:#333;
	position: fixed;
	z-index: 100;
	width: 100%;
}

#bs-over .nav {
	list-style-type: none;
	display: inline-block;
	margin-top: 15px;
	margin-right: 10px;
}

#bs-over .nav li {
	display: inline-block;
	padding: 5px;
}

#bs-over .main-nav img {
	display: inline-block;
}

#bs-over .main-nav p {
	font-size: 1.5em;
	display: inline-block;
}
#bs-over #logo {
	margin-left: 15px;
	margin-top: 5px;
}

.menu {
  background-color: #F0F0F0;
  height: 100%;
  position: fixed;
  width: 280px;
  right:-280px;
  z-index: 1000;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top:60px;
  text-align:center;
}

.menu li {
  line-height: 45px;
  padding-bottom: 6px;
  padding-top: 6px;
  text-align: center;

}

.menu a {
  color: #434343;
  font-size: 20px;
  font-weight:600;
  text-decoration: none;
  text-transform: uppercase;
}

#bs-over .mobile-menu .current  a{
	color:#888;
	background-color: #000;
}
#bs-over .mobile-menu .current  a:hover{
	color:#888;
	background-color: #000;
}

.icon-close {
  cursor: pointer;
  padding-left: 10px;
  padding-top: 3px;
  background-color:#F0F0F0;
  color:#434343;
  font-weight:200;
  z-index: 1000;
}

.icon-close i {
	font-size: 36px;
	color: #333;
}

#bs-over .icon-menu {
  color: #333;
  cursor: pointer;
  margin-bottom: 25px;
  margin-left: 25px;
  margin-top: 3px;
  margin-right: 10px;
  padding: 1px 0px 0px 5px;
  z-index: 1000;
  right: 5px;
  display: none;
}

.icon-menu i {
  margin-right: 5px;
  font-size: 38px;
}

.section {
	margin-top: 42px;
}
/*prefooter*/

.pre-footer {
	height:85px;
	background-color:#332C29;
	text-align:center;
	color:#fff;
}

.pre-footer ul {
	list-style-type: none;
	margin-top:20px;
	padding-left: 0px;
	margin-left: 0px;
}

.pre-footer li {
	display:inline-block;
	padding:5px;
}

.pre-footer i {
	border: 1px solid #fff;
	padding: 10px 12px 10px 12px;
	border-radius: 50%;
	font-size: 25px;
	transition: background-color .3s;
}

#bs-over .pre-footer i:hover {
	background-color: #fff;
	color:#28211F;
}

.pre-footer a {
	text-decoration:none;
	color:#fff;
	-webkit-transition:color 0.25s;
  	transition:color 0.25s;
}

.pre-footer #fb {
	font-size: 23px;
	padding: 10px 15px 10px 15px;
}

/*footer*/
.footer {
	height:200px;
	background-color:#28211F;
	text-align:center;
}

.footer h4 {
	color:#C9C8C7;
	font-weight:400;
	font-size:14px;
	padding-top:60px;
}

.footer i {
	display:none;
	text-decoration: none;
	color: #fff;
}

.footer a {
	text-decoration: none;
	color: #fff;
}

@media only screen and (max-width:768px) {

#bs-over .section h1 {
	font-size: 3.4em;
	margin-top: 10px;
}


#bs-over .main-nav .nav {
	display:none;
}

.main-nav img {
	width: 250px;
}

#bs-over .icon-menu {
	display:inline;
	text-align:center;
	position: fixed;
	background-color: transparent;
	float: right;
}

.mobile-logo {
	display:inline-block;
	text-align:center;
	padding:20px;
}

}

	/*screen resolutions between 620px and 800px*/
	@media all and (min-width: 620px) and (max-width: 800px){
		#section1 .imgsContainer{
			margin-top: -278px;
			margin-left: -685px;
			width: 647px;
			height: 563px;
		}
	}

	/*screen resolutions lower than 620px*/
	@media all and (max-width: 620px){
		#section1 .imgsContainer{
			margin-top: -208px;
			margin-left: -516px;
			width: 534px;
			height: 464px;
		}
	}