/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 #bs-over {
  font-family: 'Open Sans', sans-serif;
  left: 0;
  margin: 0;
  padding: 0;
  position: relative;
  overflow: scroll;
}

.main-nav {
	background-color: #333333;
	color:#fff;
	position: fixed;
	z-index: 100;
	width: 100%;
	text-align: left;
	margin-top: 0px;
	padding-top: 0px;
}

#bs-over .nav {
	list-style-type: none;
	display: inline-block;
	margin-right: 10px;
	font-size: 13px;
	margin-top: 0px;
	padding-top: 0px;
	margin-left: 30px;
}

#bs-over .nav li {
	display: inline-block;
	padding-right: 35px;
	padding-left: 35px;
	padding-bottom: 5px;
	padding-top: 0px;
	margin-top: 0px;
	text-align: center;
	cursor: pointer;
	float: left;
}

#bs-over .nav i {
	margin-top: 0px;
	padding-top: 10px;
}

#bs-over .main-nav img {
	display: inline-block;
	padding-top: 0px;
	margin-top: 0px;
}

#bs-over .main-nav p {
	font-size: 1.5em;
	display: inline-block;
	margin-top: 0px;
	padding-top: 0px;
	top: -20px;
}
#bs-over #logo {
	margin-left: 115px;
	margin-top: 5px;
}

.menu {
  background-color: #F0F0F0;
  height: 100%;
  position: fixed;
  width: 280px;
  right:-280px;
  z-index: 1000;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top:60px;
  text-align:center;
}

.menu li {
  line-height: 45px;
  padding-bottom: 6px;
  padding-top: 6px;
  text-align: center;

}

.menu a {
  color: #434343;
  font-size: 20px;
  font-weight:600;
  text-decoration: none;
  text-transform: uppercase;
}

#bs-over .mobile-menu .current  a{
	color:#888;
	background-color: #000;
}
#bs-over .mobile-menu .current  a:hover{
	color:#888;
	background-color: #000;
}

.icon-close {
  cursor: pointer;
  padding-left: 10px;
  padding-top: 3px;
  background-color:#F0F0F0;
  color:#434343;
  font-weight:200;
  z-index: 1000;
}

.icon-close i {
	font-size: 36px;
	color: #333;
}

#bs-over .icon-menu {
  color: #fff;
  cursor: pointer;
  margin-bottom: 25px;
  margin-left: 25px;
  margin-top: 3px;
  margin-right: 10px;
  padding: 1px 0px 0px 5px;
  z-index: 1000;
  right: 5px;
  display: none;
}

.icon-menu i {
  margin-right: 5px;
  font-size: 38px;
}

/*prefooter*/

.pre-footer {
	height:85px;
	background-color:#332C29;
	text-align:center;
	color:#fff;
}

.pre-footer ul {
	list-style-type: none;
	margin-top:20px;
	padding-left: 0px;
	margin-left: 0px;
}

.pre-footer li {
	display:inline-block;
	padding:5px;
}

.pre-footer i {
	border: 1px solid #fff;
	padding: 10px 12px 10px 12px;
	border-radius: 50%;
	font-size: 25px;
	transition: background-color .3s;
}

#bs-over .pre-footer i:hover {
	background-color: #fff;
	color:#28211F;
}

.pre-footer a {
	text-decoration:none;
	color:#fff;
	-webkit-transition:color 0.25s;
  	transition:color 0.25s;
}

.pre-footer #fb {
	font-size: 23px;
	padding: 10px 15px 10px 15px;
}

/*footer*/
.footer {
	height:200px;
	background-color:#28211F;
	text-align:center;
}

.footer h4 {
	color:#C9C8C7;
	font-weight:400;
	font-size:14px;
	padding-top:60px;
}

.footer i {
	display:none;
	text-decoration: none;
	color: #fff;
}

.footer a {
	text-decoration: none;
	color: #fff;
}

@media only screen and (max-width:768px) {

#bs-over #logo {
	margin-left: 5px;
	margin-top: 5px;
}

#bs-over #section0 h1 {
	font-size: 2em;
	margin-top: 80px;
}

#bs-over .fp-controlArrow.fp-prev {

    border-color: transparent #dbdbdb transparent transparent;
    transition: border-color .3s;
    left: 28px;
}

#bs-over .fp-controlArrow.fp-prev:hover {

    border-color: transparent #231F20 transparent transparent;
}

#bs-over .fp-controlArrow.fp-next {
  
    border-color: transparent transparent transparent #dbdbdb;
    transition: border-color .3s;
    right: 30px;
}

#bs-over .fp-controlArrow.fp-next:hover {
  
    border-color: transparent transparent transparent #231F20;
}

#bs-over .main-nav .nav {
	display:none;
}

.main-nav img {
	width: 250px;
}

#section0 img {
	width: 300px;
}

#bs-over .icon-menu {
	display:inline;
	text-align:center;
	position: fixed;
	background-color: transparent;
	float: right;
	margin-top: 1px;
}

#bs-over .icon-menu i {
	font-size: 32px;
}

.mobile-logo {
	display:inline-block;
	text-align:center;
	padding:20px;
}

#bs-over #section1 .wrap {
	-webkit-transform: scale(0.5);
		transform: scale(0.5);
		left: 5px;
}

#bs-over #section1 .imgsContainer{
		display: block;
		position: absolute;
		z-index: 1;
		top: 15%;
		left: 1%;
		margin-top: -20.31em;
		margin-left: -45em;
		width: 10em;
		height: 16em;
	}

#bs-over #section1 .box{
		position: absolute;
		text-align: justify;
		top: 99%;
		left: 1%;
		margin-top: -8em;
		margin-left: -5.8em;
		width: 15em;
		z-index: 1;
		font-size: 1.4em;
	}

#section1 .box h2{
		font-size: 1.4em;
		text-align: left;
	}

#bs-over #iphone2 {
		height: 450px;
		margin-top: 5px;
	}

#bs-over #iphone3 {
		height: 450px;
		margin-top: 20px;
		margin-left: 60px;
	}

#bs-over #iphone4 {
		height: 450px;
		margin-top: 5px;
	}

}

	/*screen resolutions between 620px and 800px*/
	@media all and (min-width: 620px) and (max-width: 800px){
		#section1 .imgsContainer{
			margin-top: -278px;
			margin-left: -685px;
			width: 647px;
			height: 563px;
		}
	}

	/*screen resolutions lower than 620px*/
	@media all and (max-width: 620px){
		#section1 .imgsContainer{
			margin-top: -208px;
			margin-left: -516px;
			width: 534px;
			height: 464px;
		}
	}