/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 #bs-over {
  font-family: 'Open Sans', sans-serif;
  left: 0;
  margin: 0;
  padding: 0;
  position: relative;
  overflow: scroll;
}

.main-nav {
	background-color: #FF1160;
	color:#fff;
	position: fixed;
	z-index: 100;
	width: 100%;
	text-align: left;
	margin-top: 0px;
	padding-top: 0px;
}

#bs-over .nav {
	list-style-type: none;
	display: inline-block;
	margin-right: 10px;
	font-size: 15px;
	margin-top: 0px;
	padding-top: 0px;
	margin-left: 25px;
}

#bs-over .nav li {
	display: inline-block;
	padding-right: 35px;
	padding-left: 35px;
	padding-bottom: 5px;
	padding-top: 0px;
	margin-top: 0px;
	text-align: center;
	cursor: pointer;
	float: left;
	transition: color .3s;
}

#bs-over .nav li:hover {
	color: #888888;
}

#bs-over .nav li a {
	text-decoration: none;
	color: #fff;
	transition: color .3s;
}

#bs-over .nav li a:hover {
	color: #333;
}

#bs-over .nav i {
	margin-top: 0px;
	padding-top: 10px;
}

#bs-over .main-nav img {
	display: inline-block;
	padding-top: 0px;
	margin-top: 0px;

}

#bs-over .main-nav p {
	font-size: 1.5em;
	display: inline-block;
	margin-top: 0px;
	padding-top: 0px;
	top: -20px;
}
#bs-over #logo {
	margin-left: 115px;
	margin-top: 5px;
}

.menu {
  background-color: #333;
  height: 100%;
  position: fixed;
  width: 280px;
  right:-280px;
  z-index: 1000;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top:60px;
  text-align:center;
}

.menu li {
  line-height: 45px;
  padding-bottom: 6px;
  padding-top: 6px;
  text-align: center;

}

.menu a {
  color: #fff;
  font-size: 20px;
  font-weight:600;
  text-decoration: none;
  text-transform: uppercase;
}

#bs-over .mobile-menu .current  a{
	color:#888;
	background-color: #000;
}
#bs-over .mobile-menu .current  a:hover{
	color:#888;
	background-color: #000;
}

.icon-close {
  cursor: pointer;
  padding-left: 10px;
  padding-top: 8px;
  background-color:#F0F0F0;
  color:#fff;
  font-weight:200;
  z-index: 1000;
  height: 3em;
}

.icon-close i {
	font-size: 34px;
	color: #333;
}

#bs-over .icon-menu {
  color: #fff;
  cursor: pointer;
  margin-bottom: 25px;
  margin-left: 25px;
  margin-top: 3px;
  margin-right: 10px;
  padding: 1px 0px 0px 5px;
  z-index: 1000;
  right: 5px;
  display: none;
}

.icon-menu i {
  margin-right: 5px;
  font-size: 38px;
}

#bs-over #section0 #ipad {
	margin: 0px;
	margin-top: -30px;
}


#bs-over #section3  p {
		font-size: 1em;
		text-align: center;
		color: #fff;
	}

/*prefooter*/

.pre-footer {
	height:55px;
	background-color: #FF1160;
	text-align:center;
	color:#fff;
}

.pre-footer ul {
	list-style-type: none;
	margin-top:2px;
	padding-left: 0px;
	margin-left: 0px;
}

.pre-footer li {
	display:inline-block;
	padding:5px;
}

.pre-footer i {
	border: 1px solid #fff;
	padding: 10px 12px 10px 12px;
	border-radius: 50%;
	font-size: 18px;
	transition: background-color .5s;
}

#bs-over .pre-footer i:hover {
	background-color: #fff;
	color: #434343;
}

#bs-over .pre-footer a {
	text-decoration:none;
	color:#fff;
	background-color: #FF1160;
  	transition: background-color 0.25s;
}

#bs-over .pre-footer #fb {
	font-size: 18px;
	padding: 9px 14px 9px 14px;
	transition: background-color .5s;
}

/*footer*/
.footer {
	height:80px;
	background-color:#E90046;
	text-align:center;
	bottom: 0px;
}

.footer h4 {
	color:#fff;
	font-weight:400;
	font-size:18px;
	padding-top:15px;
}

.footer i {
	text-decoration: none;
	color: #fff;
	margin-right: 2px;
	margin-left: 2px;
}

.footer a {
	text-decoration: none;
	color: #fff;
	transition: color .5s;
}

.footer a:hover {
	color: #888888;
}

.footer p {
	color: #fff;
	font-size: 0.8em;
}

@media only screen and (max-width:768px) {

#bs-over #logo {
	margin-left: 5px;
	margin-top: 5px;
}

#bs-over #section0 h1 {
	font-size: 1.3em;
	margin-top: 60px;
}

#bs-over #section0 h2 {
	font-size: 1em;
	margin-bottom: 0px;
}

#bs-over .fp-controlArrow.fp-prev {

    display: none;
}

#bs-over .fp-controlArrow.fp-prev:hover {

    border-color: transparent #231F20 transparent transparent;
}

#bs-over .fp-controlArrow.fp-next {
  
    display: none;
}

#bs-over .fp-controlArrow.fp-next:hover {
  
    border-color: transparent transparent transparent #231F20;
}

#bs-over .main-nav .nav {
	display:none;
}

#bs-over .main-nav {
	text-align: center;
	margin-left: 0px;
	height: 3.5em;
}

.main-nav img {
	width: 50px;
	margin-left: 20px;
	padding-left: 20px;
	left: 5px;
}

#bs-over .nav i {
	padding-top: 15px;
}

#section0 img {
	width: 300px;
}

#bs-over #login {
	display: inline-block;
}

#bs-over #translate {
	display: none;
}

#bs-over .icon-menu {
	display:inline;
	text-align:left;
	position: relative;
	background-color: transparent;
	float: left;
	margin-top: 10px;
}

#bs-over .icon-menu i {
	font-size: 32px;
	margin-left: 0px;
	left: 1px;
}

#bs-over .mobile-logo {
	display:inline-block;
	text-align:center;
	padding:20px;
	padding-left: 0px;
	left: 10px;
}

#bs-over #section0 #ipad {
	padding-top: 80px;
	width: 380px;
}

#bs-over #section0 #macbook {
	padding-top: 50px;
}

#bs-over #section0 #imac {
	width: 280px;
}

#bs-over #section1 .wrap {
	-webkit-transform: scale(0.5);
		transform: scale(0.5);
		left: 5px;
}

#bs-over #section1 .imgsContainer{
		display: block;
		position: absolute;
		z-index: 1;
		top: 15%;
		left: 1%;
		margin-top: -20.31em;
		margin-left: -45em;
		width: 10em;
		height: 16em;
	}

#bs-over #section1 .box{
		position: absolute;
		text-align: justify;
		top: 99%;
		left: 1%;
		margin-top: -8em;
		margin-left: -5.8em;
		width: 15em;
		z-index: 1;
		font-size: 1.4em;
	}

#section1 .box h2{
		font-size: 1.4em;
		text-align: left;
	}
#bs-over #section2 .box {
	left: 20px;
	width: 275px;
	text-align: left;
}

#bs-over #section2 h2{
	font-size: 1.5em;
}

#bs-over #section2 h4 {
	padding: 20px;
}

#bs-over #section3 img {
	left: 400px;
	-webkit-transform: scale(0.4);
		transform: scale(0.4);
}

#bs-over #section3 .box h2 {
		font-size: 0.8em;
		text-align: left;
	}

#bs-over #section3 .box p {
		font-size: 0.6em;
		text-align: justify;
	}

		#section3 form {
		padding: 0px 20px 20px 20px;
	}

}

	/*screen resolutions between 620px and 800px*/
	@media all and (min-width: 620px) and (max-width: 800px){
		#section1 .imgsContainer{
			margin-top: -278px;
			margin-left: -685px;
			width: 647px;
			height: 563px;
		}
	}

	/*screen resolutions lower than 620px*/
	@media all and (max-width: 620px){
		#section1 .imgsContainer{
			margin-top: -208px;
			margin-left: -516px;
			width: 534px;
			height: 464px;
		}
	}