// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

	body{
		color: #333;
		font-family: 'Open Sans', sans-serif;
		position: relative;
		overflow: scroll;
	}


	/* Style for our header texts
	* --------------------------------------- */
	h1{
		font-size: 3em;
		font-family: arial,helvetica;
		margin:0;
		padding:0;
	}
	h2{
		font-size: 2em;
		margin: 0 0 18px 0;
		font-family: arial,helvetica;
	}




	/* Common styles
	* --------------------------------------- */
	img{
	    -webkit-transition: all 0.7s ease-out;
		-moz-transition: all 0.7s ease-out;
		-o-transition: all 0.7s ease-out;
		transition: all 0.7s ease-out;
	}
	.section{
		text-align:center;
		overflow:hidden;
	}
	.wrap{
		width: 1180px;
		height: 100%;
		margin-left: auto;
		margin-right: auto;
		position: relative;
	}
	.box{
		text-align: left;
		color: #808080;
		font-size: 1.2em;
		line-height: 1.6em;
	}




	/* Section 0
	* --------------------------------------- */
	#section0{
		padding: 60px 0;
		cursor: pointer;
	}
	#section0 img{
		margin: 20px 0 0 0;
	}

	#bs-over #section0 h1 {
		font-size: 2em;
		margin-top: 40px;
		color: #333333;
		font-weight: 400;
	}

	#bs-over #section0 h2 {
		font-weight: lighter;
		font-size: 1.2em;
		color: #AAAAAA;
	}




	/* Section 1
	* --------------------------------------- */
	#bs-over #section1 img{
		max-height: 180px;
		display: inline;
	}

	#bs-over #section1 h2 {
		padding-top: 80px;
		font-size: 1.5em;
		text-transform: uppercase;
	}

	#bs-over #section1 #img-row {
		padding-top: 30px;
	}

	#bs-over #section1 .col-md-3 {
		position: relative;
		display: inline-block;
	}





	/* Section 2
	* --------------------------------------- */

	#bs-over #section2 h2 {
		font-size: 2em;
		text-transform: uppercase;
		text-align: center;
		padding-bottom: 5px;
		margin-bottom: 0px;
	}

	#bs-over #section2 p {
		font-size: 1.1em;
		color: #333;
		text-align: justify;
	}

	#bs-over #section2 span {
		color:#A0A0A5;
	}


	#section2 .col-md-4 {
		width: 340px;
		position: relative;
		display: inline-block;
		padding: 10px;
	}

	#bs-over #section2 ul {
		text-align: left;
		padding-left: 18px;
	}

	#bs-over #section2 .row {
	padding-top: 10px;
	}

#bs-over #section2 h2 {
	font-size: 1.3em;
	padding-top: 50px; 
}

#bs-over #section2 h4 {
	color: #333;
	font-size: 1.2em;
	text-align: center;
	padding: 20px 20px 20px 0px;
}







	/* Section 3
	* --------------------------------------- */
	#section3 .imgsContainer{
		top: 50%;
	}

	#section3 h2 {
		font-size: 1.5em;
		text-transform: uppercase;
		padding-top: 60px;
	}

	#section3 form {
		padding: 10px 100px 20px 100px;
		text-align: left;
	}

	#section3 input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
	#section3 textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
	#section3 button {
	width: 100%;
	padding: 15px 20px;
	margin-top: 5px;
    box-sizing: border-box;
    cursor: pointer;
    background-color: #333;
    color: #fff;
    text-transform: uppercase;
    border: 1px solid #333;
	}

	#section3 .pre-footer {
		margin-top: 0px;
		padding-top: 0px;
		bottom: 80px;
		z-index: 1000;
		position: absolute;
		width: 100%;
	}

	#section3 .footer {
		margin-top: 0px;
		bottom: 0px;
		z-index: 1000;
		position: absolute;
		width: 100%;

	}



	/* Overwriting fullPage.js tooltip color
	* --------------------------------------- */
	.fp-tooltip{
		color: #AAA;
	}
	#fp-nav span, .fp-slidesNav span{
		border-color: #AAA;
	}
	#fp-nav li .active span, .fp-slidesNav .active span{
		background: #AAA;
	}